<div class="p-container_full d_flex justify_content_center vertical-align_center">
  <div>
    <div class="p-col-12 p-shadow-1 login_content">
      <div>
        <h2 class="text_color_black text_bold p-mt-2">{{ 'LOGIN.cambiarContrasenia' | translate }}</h2>
      </div>
      <div class="p-mt-4">
        <form [formGroup]="loginForm">
          <div class="card">
            <div class="p-fluid">
              <div class="p-field password">
                <small for="password"
                       class="text_color_black text_bold">
                  {{ 'LOGIN.nuevaContrasenia' | translate }}
                  <span class="text_color_danger">*</span>
                </small>
                <input id="password"
                       type="password"
                       name="password"
                       class="p-mt-2 input_bc_none input_shadow_none"
                       pInputText
                       formControlName="password"
                       autocomplete="off">
                <span id="passwordShow"
                      class="text_color_primary text_underline showOrHide text_color_primary"
                      onclick="passwordShow();">
                  {{ 'LOGIN.mostrar' | translate }}
                </span>
                <div class="p-mt-1">
                  <span class="text_bold text_color_black">Su contraseña debe contener:</span>
                </div>
                <div class="p-mt-1">
                  <span class="text_color_black">{{ 'LOGIN.passwordMinCaracteres' | translate }}</span>
                </div>
                <div class="p-mt-1">
                  <span class="text_color_black">{{ 'LOGIN.passwordAlMenosUnaMayuscula' | translate }}</span>
                </div>
                <div class="p-mt-1">
                  <span class="text_color_black">{{ 'LOGIN.passwordAlMenosUnaMinuscula' | translate }}</span>
                </div>
                <div class="p-mt-1">
                  <span class="text_color_black">{{ 'LOGIN.passwordAlMenosUnNumero' | translate }}</span>
                </div>
                <div class="p-mt-1">
                  <span class="text_color_black">{{ 'LOGIN.passwordAlMenosUnCaracterEsp' | translate }}</span>
                </div>
              </div>
            </div>
            <div class="p-mt-3">
              <div class="p-grid">
                <div class="p-col-12">
                  <button pButton
                          pRipple
                          type="button"
                          class="btn-block btn_color_primary"
                          [disabled]="!loginControl.password.value"
                          label="{{ 'LOGIN.enviar' | translate }}"
                          (click)="onClickUserValidate()">
                  </button>
                </div>
                <div class="p-col-12">
                  <button pButton
                          pRipple
                          type="button"
                          class="btn-block btn_color_ligth"
                          label="{{ 'LOGIN.cancelar' | translate }}"
                          (click)="goToLogin()">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
