<div class="dvContainer">
  <div class="columns observacionesContainer__elements">
    <div class="column is-12">
      <form [formGroup]="formulario">
        <label *ngIf="detalleReceta.observacionAuditoria !== null && detalleReceta.observacionAuditoria !== '' && detalleReceta.observacionAuditoria !== undefined" class="lbl" for="txtObervacion">{{ 'VER_DETALLE_AUDITOR.observaciones' | translate  }}</label>
        <textarea class="txtObervacion"
                  id="txtObervacion"
                  formControlName="observacion"
                  maxlength="300"
                  [marcarError]="hasErrorControl('observacion','required')"
                  *ngIf="detalleReceta.estadoReceta != null && detalleReceta.estadoReceta?.codigo === 'EN_REVISION' && verDesicion"
        ></textarea>
        <div class="divObservaciones" *ngIf="detalleReceta.estadoReceta == null || detalleReceta.estadoReceta?.codigo != 'EN_REVISION' || !verDesicion">
          <label *ngIf="detalleReceta.observacionAuditoria !== null && detalleReceta.observacionAuditoria !== '' && detalleReceta.observacionAuditoria !== undefined">
            {{detalleReceta.observacionAuditoria}}
          </label>
          <label *ngIf="detalleReceta.observacionAuditoria === null || detalleReceta.observacionAuditoria === '' || detalleReceta.observacionAuditoria === undefined" class="labelObservaciones">
            {{ 'VER_DETALLE_AUDITOR.noHayObservaciones' | translate  }}
          </label>
        </div>
        <div *ngIf="hasErrorControl('observacion','required')" class="lbl">
          <app-error-field [mensajeCampo]='"campoRequerido"'></app-error-field>
        </div>
     </form>
     <label class="info" for="txtObervacion" *ngIf="detalleReceta.estadoReceta != null && detalleReceta.estadoReceta?.codigo === 'EN_REVISION' && verDesicion">
        {{ 'VER_DETALLE_AUDITOR.observacionObligatoriaRechaza' | translate  }}
      </label>
     <div class="contenedorBotones" *ngIf="detalleReceta.estadoReceta != null && detalleReceta.estadoReceta?.codigo === 'EN_REVISION' && verDesicion" >
         <button class="contenedorBotones__botonBlanco"  (click)="rechazar()" >
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{}</style></defs><g transform="translate(-870 -1274)"><rect class="a" width="24" height="24" transform="translate(870 1274)"/><path class="b" d="M7.585-6l3.127-3.127a.983.983,0,0,0,0-1.39l-.7-.7a.983.983,0,0,0-1.39,0L5.5-8.085,2.373-11.212a.983.983,0,0,0-1.39,0l-.7.7a.983.983,0,0,0,0,1.39L3.415-6,.288-2.873a.983.983,0,0,0,0,1.39l.7.7a.983.983,0,0,0,1.39,0L5.5-3.915,8.627-.788a.983.983,0,0,0,1.39,0l.7-.7a.983.983,0,0,0,0-1.39Z" transform="translate(877 1292)"/></g></svg>
           <a>{{ 'VER_DETALLE_AUDITOR.btnRechazar' | translate  }}</a>
         </button>

          <button class="contenedorBotones__botonAzul" (click)="aprobar()">
            <svg id="Check_24px_V1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.cls-1{}.cls-2{fill:none;}</style></defs><g id="Sin_contornear_editable_" data-name="Sin contornear (editable)"><g id="Check_circle"><g id="Check"><path class="cls-1" d="M9.74,18.38a.5.5,0,0,1-.7,0L4.29,13.6a1.25,1.25,0,0,1,1.78-1.76l3.32,3.35,8.93-9A1.25,1.25,0,0,1,20.09,8Z"/></g><rect class="cls-2" width="24" height="24"/></g></g></svg>
            <a>{{ 'VER_DETALLE_AUDITOR.btnAprobar' | translate  }}</a>
          </button>
       </div>
   </div>
 </div>
</div>
