<div *ngIf="dataSource.data.length === 0" class="detalleContainer columns">
    <div class="detalleContainer__noBusqueda">
        <div class="column is-12">
            <div class="detalleContainer__noBusqueda--imgNoBusqueda">
                <img *ngIf="limpiarResultado" src="./../../../../assets/images/EmptyState_Ilustracion_SinBusqueda.svg" alt="imgNoBusqueda" />
                <img *ngIf="sinResultado" src="./../../../../assets/images/EmptyState_Ilustracion_SinResultados.svg" alt="imgSinResultados" />
            </div>
        </div>
        <div class="column is-12">
            <div class="detalleContainer__noBusqueda--textoNoBusqueda">
              <p *ngIf="limpiarResultado">{{ 'CONSULTAR_TRABAJADOR.sinBusqueda' | translate }}</p>
              <p *ngIf="sinResultado">{{ 'CONSULTAR_TRABAJADOR.sinResultados' | translate }}</p>
            </div>
        </div>
        <div class="column is-12">
            <div *ngIf="limpiarResultado" class="detalleContainer__noBusqueda--textoDosNoBusqueda"><p>{{ 'CONSULTAR_TRABAJADOR.buscarAfiliado' | translate }}</p></div>
            <div *ngIf="sinResultado" class="detalleContainer__noBusqueda--textoDosNoBusqueda"><p>{{ 'CONSULTAR_TRABAJADOR.sinResultadosDetalle' | translate }}</p></div>
        </div>
    </div>
</div>

<div *ngIf="dataSource.data">
  <div *ngIf="dataSource.data.length > 0" class="detalleContainer">
      <mat-paginator class="backgroundPaginator" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="labelTable"> {{ 'CONSULTAR_TRABAJADOR.nombre' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="tipoDocumento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="labelTable"> {{ 'CONSULTAR_TRABAJADOR.tipoDocNumero' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoDocumento}} - {{element.documento}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="siniestro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="labelTable"> {{ 'CONSULTAR_TRABAJADOR.siniestros' | translate }} </th>
            <td mat-cell *matCellDef="let element">{{element.siniestros.length}}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="detalleContainer__verDetalle">
                <img src="./../../../../assets/icons/Visibility_24px.svg" alt="imgVerDetalle" class="detalleContainer__verDetalle--imgEye" />
                <span class="detalleContainer__verDetalle--textoDetalle" (click)="setTrabajadorSiniestro(element)">{{ 'CONSULTAR_TRABAJADOR.verDetalle' | translate }}</span>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
</div>
