<div class="p-container_full d_flex justify_content_center vertical-align_center">
  <div>
    <div class="p-col-10 p-shadow-1 login_content"
         style="width: 400px">
      <div>
        <h2 class="text_color_black text_bold p-mt-2">{{ 'LOGIN.recuperarContrasenia' | translate }}</h2>
      </div>
      <div class="text_color_black p-mt-2">
        <p>{{ 'LOGIN.recuperarContraseniaMensage' | translate }}</p>
      </div>
      <div class="p-mt-4">
        <form [formGroup]="loginForm">
          <div class="card">
            <div class="p-fluid">
              <div class="p-field">
                <small for="username"
                       class="text_color_black text_bold">
                  {{ 'LOGIN.usuarioOrEmail' | translate }}
                  <span class="text_color_danger">*</span>
                </small>
                <input id="username"
                       name="username"
                       pInputText
                       class="p-mt-2 input_bc_none input_shadow_none"
                       formControlName="username">
                <ng-container *ngIf="errorShow">
                  <div *ngIf="loginControl.username.errors?.required">
                    <app-error-field [mensajeCampo]='i18.LOGIN.campoRequerido'
                    ></app-error-field>
                  </div>
                  <div *ngIf="loginControl.username.errors?.email">
                    <app-error-field [mensajeCampo]='i18.LOGIN.emailFormatoIncorrecto'
                    ></app-error-field>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="p-mt-3">
              <div class="p-grid">
                <div class="p-col-12">
                  <button pButton
                          pRipple
                          type="button"
                          class="btn-block btn_color_primary"
                          label="{{ 'LOGIN.enviarCodigo' | translate }}"
                          [disabled]="!loginControl.username.value"
                          (click)="onClickSend()">
                  </button>
                </div>
                <div class="p-col-12">
                  <button pButton
                          pRipple
                          type="button"
                          class="btn-block btn_color_ligth"
                          label="{{ 'LOGIN.cancelar' | translate }}"
                          (click)="goTo('login')">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
