is mobile: {{isMobile}}


<cnx-modal-confirmation title="MODAL.TITULO.informacion"
                        text="MODAL.MENSAJE.cierreSesionForzado"
                        btnTextConfirm="BOTONES_TITULOS.btnAceptar"
                        [display]="mdlCloseSession"
                        (confirm)="forceLogoutConfirm()"
></cnx-modal-confirmation>
<router-outlet></router-outlet>
<ngx-spinner size="medium" color="#0377BD"
             type="ball-clip-rotate"
             bdColor="rgba(0, 0, 0, 0)">
  <p style="font-size: 20px; color: #596C78">Cargando...</p>
</ngx-spinner>


<!--
<div class="block-ui__wrapper">
  <p>Please change to portrait mode to further access our application</p>
</div>-->
