<div class="sidebar">
    <div>
      <ul>
        <li>
          <a routerLink="/consultaTrabajador">
            <img src="./../assets/icons/icon-sheet_documentation_health-24.svg" alt="imgSheet" />
            <span>Recetas</span>
          </a>
        </li>
        <li>
          <a routerLink="/pages/receta/buscarReceta">
            <img src="./../assets/icons/icon-person-24.svg" alt="imgPerson" />
            <span>Buscar recetas</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
