<app-top></app-top>
<div class="main-content-sinMenu">
    <main>
        <div class="main-content-sinMenu__content">
          <app-alert [mensaje]="mensajeDeExito" [tipoAlerta]="'S'"></app-alert>
            <app-listado-recetas-encabezado (sinResultado)="sinResultado = $event"
                (limpiarResultado)="limpiarResultado = $event"
                (listarRecetas)="getLstRecetas($event)"></app-listado-recetas-encabezado>
            <app-listado-recetas-detalle #consultaDetalle></app-listado-recetas-detalle>
        </div>
    </main>
</div>
<app-footer></app-footer>
