<div class="p-container_full d_flex justify_content_center vertical-align_center">
  <div>
    <div class="p-col-12 p-shadow-1 login_content"
         style="width: 400px">
      <div>
        <h2 class="text_color_black text_bold p-mt-2">{{ 'LOGIN.recuperarContrasenia' | translate }}</h2>
      </div>
      <div class="text_color_black p-mt-2">
        <label>{{ 'LOGIN.mensajeConfirmarCodigo' | translate }}</label>
      </div>
      <div class="p-mt-4">
        <form [formGroup]="loginForm">
          <div class="p-fluid">
            <div class="p-field">
              <small for="code"
                     class="text_color_black text_bold">
                {{ 'LOGIN.codigoVerificacion' | translate }}
                <span class="text_color_danger">*</span>
              </small>
              <input id="code"
                     name="code"
                     pInputText
                     class="p-mt-2 input_bc_none input_shadow_none"
                     formControlName="code">
              <ng-container *ngIf="errorShow">
                <div *ngIf="loginControl.code.errors?.required">
                  <app-error-field [mensajeCampo]='i18.LOGIN.campoRequerido'
                  ></app-error-field>
                </div>
              </ng-container>
            </div>
            <div class="p-field password">
              <small for="password"
                     class="text_color_black text_bold">
                {{ 'LOGIN.nuevaContrasenia' | translate }}
                <span class="text_color_danger">*</span>
              </small>
              <input id="password"
                     type="password"
                     name="password"
                     class="p-mt-2 input_bc_none input_shadow_none"
                     pInputText
                     formControlName="password"
                     autocomplete="off">
              <span id="passwordShow"
                    class="text_color_primary text_underline showOrHide text_color_primary"
                    onclick="passwordShow();">
                  {{ 'LOGIN.mostrar' | translate }}
              </span>
              <div class="p-mt-1">
                <span class="text_bold text_color_black">Su contraseña debe contener:</span>
              </div>
              <div class="p-mt-1">
                <span class="text_color_black">{{ 'LOGIN.passwordMinCaracteres' | translate }}</span>
              </div>
              <div class="p-mt-1">
                <span class="text_color_black">{{ 'LOGIN.passwordAlMenosUnaMayuscula' | translate }}</span>
              </div>
              <div class="p-mt-1">
                <span class="text_color_black">{{ 'LOGIN.passwordAlMenosUnaMinuscula' | translate }}</span>
              </div>
              <div class="p-mt-1">
                <span class="text_color_black">{{ 'LOGIN.passwordAlMenosUnNumero' | translate }}</span>
              </div>
              <div class="p-mt-1">
                <span class="text_color_black">{{ 'LOGIN.passwordAlMenosUnCaracterEsp' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="p-col-12">
            <button pButton
                    pRipple
                    type="button"
                    class="btn-block btn_color_primary"
                    [disabled]="!loginControl.code.value || !loginControl.password.value"
                    label="{{ 'LOGIN.guardarContrasenia' | translate }}"
                    (click)="onClickSend()">
            </button>
          </div>
          <div class="p-col-12">
            <button pButton
                    pRipple
                    type="button"
                    class="btn-block btn_color_ligth"
                    label="{{ 'LOGIN.cancelar' | translate }}"
                    (click)="goToLogin()">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
