/* COLORS */
$colorBgwhite: #fff;
$colorcxBlue30: #BAD9E0;
$colorcxBlue50:#42ACB3;
$colorcxBlue100:#00798D;
$colorcxOrange50: #FCBB76;
$colorcxOrange100: #F7941E;
$colorFontUserInfo: #0377BD;
$colorBtnBusqueda: #0377BD;
$colorBtnDisable: #66a0c3;
$colorLinkBreadCrumb: #0377BD;
$colorBtnHoverBusqueda: #02588C;
$colorBtnVerDetalle: #0377BD;
$colorFontFooter: #596C78;
$colorFontConsultaEnc: #1E3645;
$colorFontLabelTable: #1E3645;
$colorMaxDx: #1E3645;
$colorTextBoxConsultaEnc: #AFC4D1;
$colorBordeTablaTrabajadorSiniestro: #AFC4D1;
$colorContentDx: #AFC4D1;
$colorHeaderTable: #DDE6EB;
$mainBg: #F5F6F7;
$borderLayout: #ccc;
$colorObligatorio: #C72230;
$colorBtnCrearReceta: #0377BD;
$colorBtnDataPicker: #0377BD;
$colorBtnHoverCrearReceta: #02588C;
$colorDvContenedorReceta: #25BDD9;
$colorDvContenedorAddMedicamentos: #25BDD9;
$colorTextoAddMedicamentos: #25BDD9;
$colorTextoAddMedicamentosHover: #02588C;
$colorNameBreadCrumbs: #2C435280;
$colorDxSeleccionado: #004C59;
$colorChbOtroMedicamento: #0377BD;
$colorBtnEditarMedicamento: #0377BD;
$colorBtnEliminarMedicamento: #C72230;
$colorTituloMedicamentoSeleccionado: #1E3645;
$colorLabelMedicamentoSeleccionado: #1E3645;
$colorBgFirmaReceta: #F5F6F7;
$colorBgFirmaRecetaBorderDashed: #AFC4D1;
$colorLabelRecetaCreada: #1E3645;
$colorLabelRecetaCreadaEnlace: #0377BD;
$colorBtnBuscarRecetaCreada: #0377BD;
$colorBtnBuscarRecetaCreadaDisabled: #0377BD80;
$colorUrlNumReceta: #0377BD;
$colorBorderModal: #FFC95E;
$colorFontExportar: #0377BD;
$colorFontAlertas: #1E3645;
$colorBorderTopExportar: #0377BD;
$colorBorderBottomAlertas: #AFC4D1;
$colorBorderBottomListAlertas: #DDE2E7;
$colorFontRpMedVerDetalleAuditor: #1E3645;
$colorFontPlainText: #1E3645;
$colorB700: #0377BD;
$colorB700-50: #0377BD80;
$colorB800-hover: #02588C;
$colorW700: #FFFFFF;
$colorR700: #C72230;
/* COLOR ALERTAS */
$colorC700: #C3E6D4;
$colorG700: #0F4D2E;
$colorR600: #F8C8D6;
$colorR600-50: #9D0832;
$colorY600: #FFF1AB;
$colorM600: #5C2E00;
$colorD600: #DFF2F4;
$colorD600-50: #006374;



$colorAlertaInformativa: #DFF2F4;
$colorTextoAlertaFinal: #006374;
$colorAlertaExito: #C3E6D4;
$colorAlertaTextoExito: #005B46;
$colorAlertaError: #F8C8D6;
$colorAlertaTextoError: #9D0832;

/* FONT_SIZE */
$fontSizeSideBar: 16px;
$fontSizeUserInfo: 16px;
$fontSizeFooter: 16px;
$fontSizeConsultaEnc: 25px;
$fontSizeLblConsultaEnc: 16px;
$fontSizeTextoDetalle: 25px;
$fontSizeTextoDosDetalle: 16px;
$fontSizeVerDetalle: 16px;
$fontSizeLabelTable: 16px;
$fontSizeMaxDx: 16px;
$fontSizeTituloMedicamentos: 25px;
$fontSizeLblMedicamentos: 16px;
$fontSizeTituloMedicamentoSeleccionado: 25px;
$fontSizeLabelPosologia: 16px;
$fontSizeTituloModal: 25px;
$fontSizeDescriptionModal: 16px;
$fontSizeLblExportar: 16px;
$fontSizeLblAlertas: 16px;
$fontSizeRpMedVerDetalleAuditor: 20px;
$fontSizeBtn: 16px;

/* SIZE_SECTION */
$sizeConexiaBar: 8px;
$sizeFooter: 40px;
$sizeHeader: 64px;
$widthSidebar: 240px;
